In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("./hchs-sol-sueno-00163225.csv")

df.head(20)

,pid,sawa2,line,offwrist,activity,marker,whitelight,redlight,greenlight,bluelight,wake,interval,starth,day,dayofweek,validday,time
0,163225,1,1,0,129,0,44.34,4.950,3.650,1.2900,NaN,ACTIVE,0,1,5,1,15:45:00
1,163225,1,2,0,271,0,71.93,4.340,6.850,2.1700,NaN,ACTIVE,0,1,5,1,15:45:30
2,163225,1,3,0,171,0,61.29,4.160,5.630,2.5300,NaN,ACTIVE,0,1,5,1,15:46:00
3,163225,1,4,0,281,0,36.23,1.910,3.500,1.2600,NaN,ACTIVE,0,1,5,1,15:46:30
4,163225,1,5,0,365,0,18.07,2.760,0.419,7.6300,1.0,ACTIVE,0,1,5,1,15:47:00
5,163225,1,6,0,143,0,334.96,22.500,31.200,11.0000,1.0,ACTIVE,0,1,5,1,15:47:30
6,163225,1,7,0,134,0,187.66,15.600,16.600,6.8500,1.0,ACTIVE,0,1,5,1,15:48:00
7,163225,1,8,0,188,0,139.66,4.840,14.000,5.8800,1.0,ACTIVE,0,1,5,1,15:48:30
8,163225,1,9,0,271,0,81.11,2.820,8.140,3.2800,1.0,ACTIVE,0,1,5,1,15:49:00
9,163225,1,10,0,148,0,3.53,0.272,0.330,0.0412,1.0,ACTIVE,0,1,5,1,15:49:30
10,163225,1,11,0,247,0,2.42,0.090,0.244,0.0756,1.0,ACTIVE,0,1,5,1,15:50:00
11,163225,1,12,0,341,0,55.05,2.470,5.280,3.0700,1.0,ACTIVE,0,1,5,1,15:50:30
12,163225,1,13,0,281,0,241.24,7.800,24.000,12.3000,1.0,ACTIVE,0,1,5,1,15:51:00
13,163225,1,14,0,230,0,1114.51,25.700,114.000,51.3000,1.0,ACTIVE,0,1,5,1,15:51:30
14,163225,1,15,0,148,0,1461.18,40.400,148.000,66.6000,1.0,ACTIVE,0,1,5,1,15:52:00
15,163225,1,16,0,124,0,2927.63,74.200,297.000,152.0000,1.0,ACTIVE,0,1,5,1,15:52:30
16,163225,1,17,0,97,0,3892.93,114.000,393.000,180.0000,1.0,ACTIVE,0,1,5,1,15:53:00
17,163225,1,18,0,66,0,3399.05,88.200,345.000,165.0000,1.0,ACTIVE,0,1,5,1,15:53:30
18,163225,1,19,0,129,0,2455.91,61.000,249.000,125.0000,1.0,ACTIVE,0,1,5,1,15:54:00
19,163225,1,20,0,69,0,2546.56,173.000,86.300,1290.0000,1.0,ACTIVE,0,1,5,1,15:54:30