In [1]:
import pandas as pd
import os

In [2]:
# Getting path where the dataset is located
data_path = "C:\\Users\\Usuario\\Downloads\\MMASH\\DataPaper"

user_1 = os.path.join(data_path, "user_1")

os.listdir(user_1)

['Actigraph.csv',
 'Activity.csv',
 'questionnaire.csv',
 'RR.csv',
 'saliva.csv',
 'sleep.csv',
 'user_info.csv']

## Actigraph

In [4]:
actigraph = pd.read_csv(os.path.join(user_1, 'Actigraph.csv'))

actigraph.head(20)

,Unnamed: 0,Axis1,Axis2,Axis3,Steps,HR,Inclinometer Off,Inclinometer Standing,Inclinometer Sitting,Inclinometer Lying,Vector Magnitude,day,time
0,82,0,0,0,0,68.0,0,1,0,0,0.00,1,10:10:22
1,83,11,4,7,1,68.0,0,1,0,0,13.64,1,10:10:23
2,84,0,21,10,0,68.0,0,0,1,0,23.26,1,10:10:24
3,85,0,1,24,0,68.0,0,0,1,0,24.02,1,10:10:25
4,86,34,14,63,1,154.0,0,1,0,0,72.95,1,10:10:26
5,87,101,10,90,0,161.0,0,1,0,0,135.65,1,10:10:27
6,88,17,18,49,0,177.0,0,1,0,0,54.90,1,10:10:28
7,89,0,34,23,0,177.0,0,1,0,0,41.05,1,10:10:29
8,90,12,50,13,1,177.0,0,1,0,0,53.04,1,10:10:30
9,91,32,38,36,0,177.0,0,1,0,0,61.35,1,10:10:31
10,92,63,72,156,1,177.0,0,1,0,0,183.00,1,10:10:32
11,121,89,60,88,1,32.0,0,1,0,0,138.80,1,10:11:01
12,122,69,54,204,1,32.0,0,1,0,0,222.02,1,10:11:02
13,123,19,77,144,1,32.0,0,1,0,0,164.40,1,10:11:03
14,124,27,33,122,0,32.0,0,1,0,0,129.24,1,10:11:04
15,125,13,1,46,1,32.0,0,1,0,0,47.81,1,10:11:05
16,171,0,0,0,0,133.0,0,0,1,0,0.00,1,10:11:51
17,172,39,10,0,1,132.0,0,1,0,0,40.26,1,10:11:52
18,173,67,0,62,0,132.0,0,1,0,0,91.29,1,10:11:53
19,174,0,3,32,0,132.0,0,0,1,0,32.14,1,10:11:54

In [5]:
actigraph.head(20)

,Unnamed: 0,Axis1,Axis2,Axis3,Steps,HR,Inclinometer Off,Inclinometer Standing,Inclinometer Sitting,Inclinometer Lying,Vector Magnitude,day,time
0,82,0,0,0,0,68.0,0,1,0,0,0.00,1,10:10:22
1,83,11,4,7,1,68.0,0,1,0,0,13.64,1,10:10:23
2,84,0,21,10,0,68.0,0,0,1,0,23.26,1,10:10:24
3,85,0,1,24,0,68.0,0,0,1,0,24.02,1,10:10:25
4,86,34,14,63,1,154.0,0,1,0,0,72.95,1,10:10:26
5,87,101,10,90,0,161.0,0,1,0,0,135.65,1,10:10:27
6,88,17,18,49,0,177.0,0,1,0,0,54.90,1,10:10:28
7,89,0,34,23,0,177.0,0,1,0,0,41.05,1,10:10:29
8,90,12,50,13,1,177.0,0,1,0,0,53.04,1,10:10:30
9,91,32,38,36,0,177.0,0,1,0,0,61.35,1,10:10:31
10,92,63,72,156,1,177.0,0,1,0,0,183.00,1,10:10:32
11,121,89,60,88,1,32.0,0,1,0,0,138.80,1,10:11:01
12,122,69,54,204,1,32.0,0,1,0,0,222.02,1,10:11:02
13,123,19,77,144,1,32.0,0,1,0,0,164.40,1,10:11:03
14,124,27,33,122,0,32.0,0,1,0,0,129.24,1,10:11:04
15,125,13,1,46,1,32.0,0,1,0,0,47.81,1,10:11:05
16,171,0,0,0,0,133.0,0,0,1,0,0.00,1,10:11:51
17,172,39,10,0,1,132.0,0,1,0,0,40.26,1,10:11:52
18,173,67,0,62,0,132.0,0,1,0,0,91.29,1,10:11:53
19,174,0,3,32,0,132.0,0,0,1,0,32.14,1,10:11:54

## Activity

In [5]:
activity = pd.read_csv(os.path.join(user_1, 'Activity.csv'))

activity.head(20)

    Unnamed: 0  Activity  Start    End  Day
0            0         2  10:00  10:22    1
1            1         9  10:37  10:40    1
2            2        10  10:40  10:45    1
3            3         6  10:55  11:00    1
4            4         2  11:00  11:20    1
5            5         7  12:00  13:00    1
6            6         4  13:30  13:35    1
7            7        10  13:35  13:40    1
8            8         3  13:40  13:45    1
9            9         6  13:55  14:30    1
10          10         9  14:25  14:30    1
11          11        10  14:25  14:30    1
12          12         2  14:30  16:40    1
13          13        10  16:40  16:45    1
14          14         2  16:45  18:10    1
15          15        10  18:10  18:20    1
16          16         5  18:20  18:30    1
17          17         3  18:45  18:55    1
18          18         8  19:00  19:45    1
19          19         3  20:00  20:30    1

## Questionnaire

In [8]:
questionnaire = pd.read_csv(os.path.join(user_1, 'questionnaire.csv'))

questionnaire

,Unnamed: 0,MEQ,STAI1,STAI2,Pittsburgh,Daily_stress,BISBAS_bis,BISBAS_reward,BISBAS_drive,BISBAS_fun,panas_pos_10,panas_pos_14,panas_pos_18,panas_pos_22,panas_pos_9+1,panas_neg_10,panas_neg_14,panas_neg_18,panas_neg_22,panas_neg_9+1
0,0,47,41,43,5,23,22,21,14,14,21,17,12,18,17,11,13,13,10,10

## RR

In [6]:
rr = pd.read_csv(os.path.join(user_1, 'RR.csv'))

rr.head(20)

    Unnamed: 0  ibi_s  day      time
0            1  0.258    1  10:10:17
1            2  0.319    1  10:10:18
2            3  0.266    1  10:10:18
3            4  0.401    1  10:10:18
4            5  1.089    1  10:10:19
5            6  0.752    1  10:10:20
6            7  0.337    1  10:10:20
7            8  0.933    1  10:10:21
8            9  0.731    1  10:10:22
9           10  0.454    1  10:10:23
10          11  0.278    1  10:10:23
11          12  0.407    1  10:10:23
12          13  0.346    1  10:10:24
13          14  0.307    1  10:10:24
14          15  0.256    1  10:10:24
15          16  0.338    1  10:10:24
16          17  0.329    1  10:10:25
17          18  0.253    1  10:10:25
18          19  0.425    1  10:10:25
19          20  0.268    1  10:10:26

## Saliva

In [16]:
saliva = pd.read_csv(os.path.join(user_1, 'saliva.csv'))

saliva

   Unnamed: 0       SAMPLES  Cortisol NORM  Melatonin NORM
0           1  before sleep       0.034137    1.738385e-08
1           2       wake up       0.077939    6.747893e-09

## Sleep

In [15]:
sleep = pd.read_csv(os.path.join(user_1, 'sleep.csv'))

sleep

,Unnamed: 0,In Bed Date,In Bed Time,Out Bed Date,Out Bed Time,Onset Date,Onset Time,Latency,Efficiency,Total Minutes in Bed,Total Sleep Time (TST),Wake After Sleep Onset (WASO),Number of Awakenings,Average Awakening Length,Movement Index,Fragmentation Index,Sleep Fragmentation Index
0,0,2,00:46,2,03:31,2,00:46,0,87.27,165,144,21,9,2.33,9.091,10,19.091
1,1,2,03:57,2,07:30,2,03:57,0,92.02,213,196,17,9,1.89,8.920,0,8.920